<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ng-class="{active:collapseVar==1}">
                <a href="" ng-click="check(1)"><i class="fa fa-dashboard fa-fw"></i> Master Data<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ng-class="{active: selectedMenu=='masterdata_product'}">
                        <a ui-sref="dashboard.masterdata_product" ng-click="selectedMenu='masterdata_product'">Product</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='masterdata_process'}">
                        <a ui-sref="dashboard.masterdata_process" ng-click="selectedMenu='masterdata_process'">Process</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='masterdata_tool'}">
                        <a ui-sref="dashboard.masterdata_tool" ng-click="selectedMenu='masterdata_tool'">Tool</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='masterdata_fixture'}">
                        <a ui-sref="dashboard.masterdata_fixture" ng-click="selectedMenu='masterdata_fixture'">Fixture</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='masterdata_equipment'}">
                        <a ui-sref="dashboard.masterdata_equipment" ng-click="selectedMenu='masterdata_equipment'">Equipment</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='masterdata_characterclassification'}">
                        <a ui-sref="dashboard.masterdata_characterclassification" ng-click="selectedMenu='masterdata_characterclassification'">Character Classification</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-table fa-fw"></i> Product<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ng-class="{active: selectedMenu=='product_ecl'}">
                        <a ui-sref="dashboard.product_ecl" ng-click="selectedMenu='product_ecl'">ECL</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='product_bom'}">
                        <a ui-sref="dashboard.product_bom" ng-click="selectedMenu='product_bom'">BOM</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='product_dfmea'}">
                        <a ui-sref="dashboard.product_dfmea" ng-click="selectedMenu='product_dfmea'">DFMEA</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='product_characteristics'}">
                        <a ui-sref="dashboard.product_characteristics" ng-click="selectedMenu='product_characteristics'">Characteristics</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='product_dvp'}">
                        <a ui-sref="dashboard.product_dvp" ng-click="selectedMenu='product_dvp'">DVP</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:collapseVar==3}">
                <a href="" ng-click="check(3)"><i class="fa fa-edit fa-fw"></i> Process<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li ng-class="{active: selectedMenu=='process_design'}">
                        <a ui-sref="dashboard.process_design" ng-click="selectedMenu='process_design'">Design</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='process_pfmea'}">
                        <a ui-sref="dashboard.process_pfmea" ng-click="selectedMenu='process_pfmea'">PFMEA</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:collapseVar==4}">
                <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Attachment<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ng-class="{active: selectedMenu=='attachment_drawing'}">
                        <a ui-sref="dashboard.attachment_drawing" ng-click="selectedMenu='attachment_drawing'">Drawing</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='attachment_specification'}">
                        <a ui-sref="dashboard.attachment_specification" ng-click="selectedMenu='attachment_specification'">Specification</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:collapseVar==5}">
                <a href="" ng-click="check(5)"><i class="fa fa-bar-chart-o fa-fw"></i> Change Management<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=5">
                    <li ng-class="{active: selectedMenu=='change_ecn'}">
                        <a ui-sref="dashboard.change_ecn" ng-click="selectedMenu='change_ecn'">Engineering Change</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='change_pcn'}">
                        <a ui-sref="dashboard.change_pcn" ng-click="selectedMenu='change_pcn'">Process Change</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">

                <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.buttons"><i class="fa fa-edit fa-fw"></i> Buttons</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.grid"><i class="fa fa-edit fa-fw"></i> Grid</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.icons"><i class="fa fa-edit fa-fw"></i> Icons</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.notifications"><i class="fa fa-edit fa-fw"></i> Notifications</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.typography"><i class="fa fa-edit fa-fw"></i> Typography</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.panels-wells"><i class="fa fa-edit fa-fw"></i> Panel</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="login"><i class="fa fa-edit fa-fw"></i> Login</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="product"><i class="fa fa-edit fa-fw"></i> Product</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>





